#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.prompt-container {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 1.5px;
  padding: 2em;
}

.text-container {
  width: 80vw;
  margin: 0 auto;
  max-width: 80vw;
}

.ql-container .ql-editor {
  height: 50vh;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1.5px;
  max-width: 80vw;
}

.ql-container {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}